h1 {
 color: blue;  
 font-family: 'lora', serif;
}
body{
   font-family: 'Roboto', sans-serif;
}
.little-pic {
   width: 200px;
   height: 200px;
   
}
.card-white{
   margin: 0 auto;
   width: 80%;
   box-shadow: 5px 5px 5px 5px gray;
   text-align: center;
}
#avatar{
   border-radius: 50%;
   box-shadow: 10px 20px 20px black;
}
ul{
   list-style: none;
}
ol{
   width: 100px;
   margin: auto;
}
.linkedin-btn, .facebook-btn {
   display: inline-block;
   padding: 10px 20px;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
   text-transform: uppercase;
   transition: background-color 0.3s ease;
}

.linkedin-btn {
   background-color: #0077B5; /* LinkedIn blue color */
}

.facebook-btn {
   background-color: #3b5998; /* Facebook blue color */
}

.linkedin-btn:hover {
   background-color: #005E99; /* Darker shade of LinkedIn blue on hover */
}

.facebook-btn:hover {
   background-color: #2d4373; /* Darker shade of Facebook blue on hover */
}

/* Additional styling for the social buttons container */
.social-buttons {
   margin-top: 20px;
}